/* 1 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

p {
  margin: 0;
}

._-1 {
  width: 100%;
  
  padding: 28px 32px;
  box-sizing: border-box;
  background-color: rgba(242, 247, 245, 1);
}
.group-5102 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 1024px;
  height: 50px;
  box-sizing: border-box;
  align-content: center;
}
.profilepicture {
  width: 48px;
  height: 100%;
}

.samantha-william {
  color: rgba(0, 71, 62, 1);
  font-size: 18px;
  line-height: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.inv-0001234 {
  color: rgba(0, 71, 62, 1);
  font-size: 18px;
  line-height: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.class {
  display: flex;
  flex-direction: row;
  height: 100%;
  box-sizing: border-box;
}
.icones {
  padding-right: 10px;
  padding-left: 10px;
  width: 72px;
  height: 50px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}
.inv-00012341 {
  color: rgba(71, 93, 91, 1);
  font-size: 14px;
  line-height: 14px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.vii-a {
  color: rgba(0, 71, 62, 1);
  font-size: 18px;
  line-height: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: rgba(0, 71, 62, 1);
  font-size: 18px;
  line-height: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-align: right;
}

.menu {
  width: 80px;
  height: 24px;
}
