.selected {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1475px;
  height: 112px;
}
.placeholder {
  position: absolute;
  top: 0;
  left: calc(50% - 20px);
  border-radius: var(--br-xl);
  background-color: var(--green1);
  width: 40px;
  height: 40px;
  opacity: 0.1;
}
.callIcon {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.phone {
  position: relative;
  width: 40px;
  height: 40px;
}
.emailIcon {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.contact {
  position: absolute;
  top: 36px;
  left: 1078px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.jakarta {
  position: absolute;
  top: 46px;
  left: 936px;
}
.viiA {
  position: relative;
}
.content,
.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.status {
  position: absolute;
  top: 36px;
  left: 1262px;
  border-radius: var(--br-21xl);
  background-color: var(--color-yellow);
  width: 80px;
  height: 40px;
  padding: var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
  justify-content: center;
  color: var(--color-white);
}
.amandaNico,
.check {
  position: absolute;
  top: 46px;
  left: 748px;
}
.check {
  top: 44px;
  left: 32px;
  border-radius: var(--br-9xs);
  border: 2px solid var(--color-gray-21);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.placeholder2 {
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-21);
  width: 48px;
  height: 48px;
}
.customer,
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.customer {
  position: absolute;
  top: 32px;
  left: 86px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--text-text-regular-1-size);
}
.march252021 {
  top: 46px;
  left: 558px;
  color: var(--color-gray-3);
}
.div1,
.dotsIcon,
.march252021 {
  position: absolute;
}
.div1 {
  top: 46px;
  left: 382px;
  font-size: var(--text-text-regular-1-size);
  font-weight: 600;
}
.dotsIcon {
  top: 44px;
  left: 1419px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div {
  position: relative;
  width: 1475px;
  height: 112px;
  text-align: left;
  font-size: var(--text-text-2-regular-size);
  color: var(--green1);
  font-family: var(--text-text-regular-1);
}
