.icon {
  position: absolute;
  top: 5px;
  left: 0;
  width: 16.24px;
  height: 16.16px;
}
.newStudent {
  position: absolute;
  top: 0;
  left: 32.24px;
}
.content {
  position: relative;
  width: 146.24px;
  height: 27px;
}
.newStudentButton {
  border-radius: var(--br-21xl);
  background-color: var(--green1);
  box-shadow: var(--shadow);
  width: 207px;
  height: 60px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-24xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--text-text-regular-1-size);
  color: var(--color-white);
  font-family: var(--text-text-regular-1);
}
