.magnifierIcon {
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.magnifierIcon,
.searchHere {
  position: relative;
}
.searchBar,
.text {
  box-sizing: border-box;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text {
  border-radius: var(--br-3xl);
  padding: var(--padding-4xl) var(--padding-13xl);
  gap: var(--gap-base);
}
.searchBar {
  position: absolute;
  top: 100px;
  left: calc(50% - 221.5px);
  border-radius: var(--br-21xl);
  border: 2px solid var(--color-gray-3);
  width: 443px;
  padding: var(--padding-11xs) var(--padding-13xl) var(--padding-11xs) 0;
  text-align: left;
  font-size: var(--text-text-regular-1-size);
  color: var(--color-gray-3);
  font-family: var(--text-text-regular-1);
}
